.card{
border: 3px solid black;
height: 200px;
width: 200px;
margin: 10px 10px;
display: flex;
flex-direction: column;
justify-content: space-between;
flex-wrap: wrap-reverse
}
.card-name{
  border: 1px solid black;
  height: 30px;
  width: 100%;
}
.card-container{

}
.card-rating{
  border: 1px solid black;
  height: 30px;
  width: 70%;
  
}
.main{

}
.search-bar{
display: flex;
flex-direction: row;
justify-content: center;
margin-bottom: 100px;
margin-top: 40px;
}
.input{
  width: 50%;
  height: 40px;
}
.search-btn{
  height: 46px;
  width: 10%; 
}
.min-rating{
  height: 46px;
  width: 10%; 
}
.parg{
  margin: 0;
  padding: 0 5px;
}
.min-rating-stars{
  padding: 0 5px;
  font-size: 25px;
} 
.affich{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.modal{
  height: 200px;
width: 200px;
font-size: 100px;
margin: 100px;
}
.cls-modal{
  display: flex;
  justify-content: center;
}
.btn-modal{
  height: 40px;
  width: 100px;
  border-radius: 5px;
  color: #3f00ff;
  font-size: 20px;
  margin: 20px 20px;
}
.inpt-modal{
  width: 400px;
  height: 40px;
  font-size: 18px;
}
.min-rating-stars2{
  padding: 0 5px;
  font-size: 50px;
  margin: 15px 100px;
} 
.ttle{
  text-align: center;
  color: red;
}